body { margin: 0; font-family: Arial, sans-serif; }

form { border: 3px solid #f1f1f1;  width: 30%; margin: 50px auto; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }

label {
  margin-bottom: 15px;
  display: block;
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -1px 5px rgba(0,0,0,0.05);
}

button[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #3e8e41;
}

::placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-webkit-input-placeholder {
  color: #ccc;
}